include head.pug

if !vote
	h1 Cast your Vote
	if candidates
		ul.candidates
			each candidate, number in candidates
				li(tabindex=number+1 class="candidate " + candidate.color) #{candidate.name}

	form(action="/vote" method="post")
		input( id="vote" class="vote" name="vote" )
		input( type="hidden" name="instance" value=instance )
		br
		input( class="button" type="submit" id="submit" value="Vote" )

if statistics
	ul.statistics
		each statistic, number in statistics.candidates
			if statistic.percentage > 0
				li(class=statistic.color id=statistic.id style="width:"+statistic.percentage+"%" data-count=statistic.count)
					if statistic.percentage > 6
						div.name #{statistic.name}
					if statistic.percentage > 6
						div.count #{statistic.count}
